@import "../../assets/scss/light-theme";
@import "../../assets/scss/dark-theme";
@import "../../assets/scss/style-utilities";

.log-in-form-container {
  //height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .log-in-form {
    margin-top: 10%;
    width: 50%;

    .label-container {
      position: relative;

      span {
        position: absolute;
        left: -50px;
        top: 37px;
        transform: rotate(270deg);
        display: inline-block;
        font-size: 0.8em;
      }
    }

    .label-container:first-child {
      span {
        top: 10px;
        left: -47px;
      }
    }

    button {
      margin: 25px auto 0;
      width: 75%;
      position: relative;
    }

    .sign-up {
      font-size: 0.8em;
      display: block;
    }
  }
}

@each $theme in $themes {
  #root.#{$theme} {
    .log-in-form-container {
      @if $theme == dark-theme {
        background-color: $dt-semiDarkColor;
        .intro-section {
          h3 {
            color: $dt-lightColor;
          }
        }
        .log-in-form {
          .label-container {
            color: $dt-lightColor;

            .active {
              color: $dt-midColor !important;
            }
          }

          .sign-up {
            font-size: 0.8em;
            color: $dt-lightColor;

            &:hover {
              cursor: pointer;
              color: $dt-midColor;
            }
          }
        }
      } @else {
        background-color: $lt-white;
        .log-in-form {
          .label-container {
            .active {
              color: $lt-midColor;
            }
          }

          .sign-up {
            font-size: 0.8em;

            &:hover {
              cursor: pointer;
              color: $lt-midColor;
            }
          }
        }
      }
    }
  }
}
