.log-in-form-container {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .log-in-form-container .log-in-form {
    margin-top: 10%;
    width: 50%; }
    .log-in-form-container .log-in-form .label-container {
      position: relative; }
      .log-in-form-container .log-in-form .label-container span {
        position: absolute;
        left: -50px;
        top: 37px;
        transform: rotate(270deg);
        display: inline-block;
        font-size: 0.8em; }
    .log-in-form-container .log-in-form .label-container:first-child span {
      top: 10px;
      left: -47px; }
    .log-in-form-container .log-in-form button {
      margin: 25px auto 0;
      width: 75%;
      position: relative; }
    .log-in-form-container .log-in-form .sign-up {
      font-size: 0.8em;
      display: block; }

#root.dark-theme .log-in-form-container {
  background-color: #111; }
  #root.dark-theme .log-in-form-container .intro-section h3 {
    color: #eee; }
  #root.dark-theme .log-in-form-container .log-in-form .label-container {
    color: #eee; }
    #root.dark-theme .log-in-form-container .log-in-form .label-container .active {
      color: #FF5C56 !important; }
  #root.dark-theme .log-in-form-container .log-in-form .sign-up {
    font-size: 0.8em;
    color: #eee; }
    #root.dark-theme .log-in-form-container .log-in-form .sign-up:hover {
      cursor: pointer;
      color: #FF5C56; }

#root.light-theme .log-in-form-container {
  background-color: #fff; }
  #root.light-theme .log-in-form-container .log-in-form .label-container .active {
    color: #FF5C56; }
  #root.light-theme .log-in-form-container .log-in-form .sign-up {
    font-size: 0.8em; }
    #root.light-theme .log-in-form-container .log-in-form .sign-up:hover {
      cursor: pointer;
      color: #FF5C56; }
