.projects-page-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .projects-page-container .projects-page-header {
    height: 7%;
    display: flex;
    align-items: center;
    border-bottom: 3px solid #FF5C56;
    flex-shrink: 1; }
    .projects-page-container .projects-page-header .logo-and-title-container {
      flex-grow: 1;
      display: flex; }
      .projects-page-container .projects-page-header .logo-and-title-container img {
        width: 25px;
        height: 25px; }
    .projects-page-container .projects-page-header .change-theme-container {
      display: flex;
      justify-content: space-between;
      flex-direction: row-reverse;
      align-items: center; }
      .projects-page-container .projects-page-header .change-theme-container .themes {
        display: flex; }
        .projects-page-container .projects-page-header .change-theme-container .themes > div {
          height: 25px;
          width: 25px;
          margin: 10px 10px 0;
          border-radius: 50%;
          cursor: pointer; }
        .projects-page-container .projects-page-header .change-theme-container .themes .dark {
          background-color: #000;
          border: 1px solid #eee; }
        .projects-page-container .projects-page-header .change-theme-container .themes .light {
          background-color: #eee;
          border: 1px solid #000; }
  .projects-page-container .projects-container {
    height: 93%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 5.64972%; }
    .projects-page-container .projects-container .single-project-card {
      width: 200px;
      height: 250px;
      margin: 10px; }

#root.dark-theme .projects-page-container .projects-page-header {
  background-color: #000;
  color: #eee; }

#root.dark-theme .projects-page-container .projects-container {
  background-color: #111; }

#root.light-theme .projects-page-container .projects-page-header {
  background-color: #fff;
  color: #000; }

#root.light-theme .projects-page-container .projects-container {
  background-color: #eee; }
