@import "../../assets/scss/light-theme";
@import "../../assets/scss/dark-theme";
@import "../../assets/scss/style-utilities";

.projects-page-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .projects-container {
    //flex-grow: 1;
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px percentage(50/885);

    .single-project-card {
      width: 200px;
      height: 250px;
      margin: 10px;
    }

    .add-new-project-button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: $dt-midColor;
      outline: none;
      border: none;
      box-shadow: 0 5px 10px 5px rgba(39, 39, 39, 0.1);
      position: absolute;
      right: 20px;
      bottom: 40px;

      i {
        color: white;
        font-size: 1.5em;
      }
    }
  }
}

@each $theme in $themes {
  #root.#{$theme} {
    .projects-page-container {
      @if $theme == dark-theme {
        .projects-page-header {
          background-color: $dt-darkColor;
          color: $dt-lightColor;
        }
        .projects-container {
          background-color: $dt-semiDarkColor;
        }
      } @else {
        .projects-page-header {
          background-color: $lt-white;
          color: $lt-darkColor;
        }
        .projects-container {
          background-color: $lt-lightColor;
        }
      }
    }
  }
}
