.projects-page-container {
  display: flex;
  flex-direction: column;
  height: 100%; }
  .projects-page-container .projects-container {
    height: 100%;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    padding: 50px 5.64972%; }
    .projects-page-container .projects-container .single-project-card {
      width: 200px;
      height: 250px;
      margin: 10px;
      position: relative; }
      .projects-page-container .projects-container .single-project-card .fa.fa-times {
        position: absolute;
        top: 10px;
        right: 10px;
        z-index: 1;
        color: #FF5C56; }
      .projects-page-container .projects-container .single-project-card .card h6 {
        height: 32px; }
      .projects-page-container .projects-container .single-project-card .card .brief-text {
        height: 115px;
        overflow-y: auto; }
      .projects-page-container .projects-container .single-project-card .card .actions-container {
        margin-top: auto;
        display: flex;
        justify-content: space-between;
        align-items: center; }
        .projects-page-container .projects-container .single-project-card .card .actions-container i {
          color: #007ad9 !important; }
          .projects-page-container .projects-container .single-project-card .card .actions-container i.fa-angle-double-right {
            font-size: 1.5em; }
        .projects-page-container .projects-container .single-project-card .card .actions-container a {
          line-height: 14px; }
    .projects-page-container .projects-container .add-new-project-button {
      width: 45px;
      height: 45px;
      border-radius: 50%;
      background-color: #FF5C56;
      outline: none;
      border: none;
      box-shadow: 0 5px 10px 5px rgba(39, 39, 39, 0.1);
      position: absolute;
      right: 20px;
      bottom: 40px; }
      .projects-page-container .projects-container .add-new-project-button .fa.fa-plus {
        color: white;
        font-size: 1.75em; }

#root.dark-theme .projects-page-container .projects-page-header {
  background-color: #000;
  color: #eee; }

#root.dark-theme .projects-page-container .projects-container {
  background-color: #111; }

#root.light-theme .projects-page-container .projects-page-header {
  background-color: #fff;
  color: #000; }

#root.light-theme .projects-page-container .projects-container {
  background-color: #eee; }
