.sign-up-form-container {
  margin: 10% auto 0;
  width: 50%; }
  .sign-up-form-container .buttons-container {
    display: flex;
    justify-content: space-around;
    align-items: center; }
    .sign-up-form-container .buttons-container button {
      width: 120px;
      position: relative; }
